* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #14120b;
  --white: #edecec;
  --hover_btn_color: #edececde;
  --hover_text_color: #edececaf;
  --box_background: #1b1913;
  --box_background_hover: #1f1c18;
  --red_text_color: #ff5900e7;
  --red_text_hover_color: #ff5900b3;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; */
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
  z-index: 99;
}

header nav div.nav_bar {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  padding: 8px 5px;
}

header nav div.nav_bar div.left_nav_side img {
  width: 105px;
  cursor: pointer;
}

header nav div.nav_bar div.mid_nav_side > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 28px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
  cursor: pointer;
}

header nav div.nav_bar div.mid_nav_side > ul > li:nth-child(4) > .boxes {
  position: absolute;
  top: 35px;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  padding: 20px;
  background-color: #1d1c16;
  border-radius: 5px;
  visibility: hidden;
}

header nav div.nav_bar div.mid_nav_side > ul > li:nth-child(4):hover > .boxes {
  visibility: visible;
}

header
  nav
  div.nav_bar
  div.mid_nav_side
  > ul
  > li:nth-child(4)
  > .boxes
  > .common_box
  > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  /* border: 1px solid red; */
}

header
  nav
  div.nav_bar
  div.mid_nav_side
  > ul
  li:nth-child(4)
  > .boxes
  > .common_box
  > ul
  li {
  color: var(--white);
  padding: 3px 0px;
  font-size: 13px;
}

header
  nav
  div.nav_bar
  div.mid_nav_side
  > ul
  li:nth-child(4)
  > .boxes
  > .common_box
  > ul
  li:hover {
  color: var(--hover_text_color);
}

header nav div.nav_bar div.mid_nav_side > ul li:hover {
  color: var(--hover_text_color);
}

header nav div.nav_bar div.right_nav_side {
  margin-right: 20px;
  cursor: default;
}

header nav div.nav_bar div.right_nav_side button.sign_in {
  background-color: var(--black);
  color: var(--white);
  padding: 4px 10px;
  outline: none;
  border: 0.1px solid #8080805c;
  border-radius: 15px;
  font-size: 13px;
  margin-right: 4px;
  cursor: pointer;
}

header nav div.nav_bar div.right_nav_side button.sign_in:hover{
  background-color: var(--box_background_hover);
}

header nav div.nav_bar div.right_nav_side button.download {
  background-color: var(--white);
  color: var(--black);
  padding: 4px 10px;
  outline: none;
  border: 0.1px solid #8080805c;
  border-radius: 15px;
  font-size: 13px;
  cursor: pointer;
}

header nav div.nav_bar div.right_nav_side button.download:hover {
  background-color: var(--hover_btn_color);
}

header div.hero_section {
  /* border: 2px solid red; */
  margin-top: 150px;
  padding: 0px 45px;
}

header div.hero_section .heading h2 {
  font-weight: 450;
  line-height: 28px;
}

header div.hero_section .heading button {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 17px;
  outline: none;
  border: 0.1px solid #8080805c;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

header div.hero_section .heading button:hover {
  background-color: var(--hover_btn_color);
}

header div.hero_section .product img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

header div.hero_section .product {
  margin-top: 60px;
}

main .company_logos {
  padding: 0px 45px;
  margin: 55px 0px;
}

main .company_logos p {
  text-align: center;
  font-size: 14px;
}

main .company_logos .logos {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 5px;
  flex-wrap: wrap;
}

main .company_logos .logos .logo {
  background-color: var(--box_background);
  padding: 3px 35px;
  border-radius: 5px;
}

main .company_logos .logos .logo svg {
  width: 60px;
}

main .company_logos .logos .logo_s svg {
  width: 80px;
}

main .featured_section {
  padding: 0px 45px;
}
main .featured_section .featured_box {
  margin-top: 90px;
  background-color: var(--box_background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  gap: 75px;
  cursor: pointer;
  border-radius: 5px;
}

main .featured_section .featured_box:hover {
  background-color: var(--box_background_hover);
}

main .featured_section .featured_box_2 {
  flex-direction: row-reverse;
}

main .featured_section .featured_box .left h3 {
  font-weight: 400;
}

main .featured_section .featured_box .left h3.disc {
  color: var(--hover_text_color);
  /* font-size:larger; */
}

main .featured_section .featured_box .left p {
  color: var(--red_text_color);
  margin-top: 15px;
}

main .featured_section .featured_box .left p:hover {
  color: var(--red_text_hover_color);
}

main .featured_section .featured_box .right img {
  width: 760px;
}

main .featured_section .featured_box_3 .right img {
  width: 735px;
}

main .featured_card {
  padding: 0px 45px;
  /* border: 2px solid red; */
  margin-top: 8rem;
}

main .featured_card h1 {
  text-align: center;
  font-weight: 400;
}

main .featured_card .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 50px;
}

main .featured_card .cards .card {
  background-color: var(--box_background);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  border-radius: 5px;
}

main .featured_card .cards .card .discription {
  margin-bottom: 58px;
}

main .featured_card .cards .card .about_workshops {
  align-self: flex-start;
  display: flex;
  gap: 10px;
}

main .featured_card .cards .card .about_workshops p {
  font-size: 13px;
}

main .featured_card .cards .card .about_workshops p.designation {
  color: var(--hover_text_color);
}

main .featured_card .cards .card .about_workshops img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

main .stories {
  padding: 0px 45px;
  margin-top: 8rem;
}

main .stories h2 {
  /* text-align: center; */
  margin-bottom: 20px;
  font-weight: 400;
}

main .stories .stories_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

main .stories .stories_cards .card {
  padding: 15px;
  background-color: var(--box_background);
  cursor: pointer;
}

main .stories .stories_cards .card .disc {
  color: var(--hover_text_color);
}

main .stories .stories_cards .card .link {
  color: var(--red_text_color);
  margin: 10px 0px;
}

main .stories .stories_cards .card .link:hover {
  color: var(--red_text_hover_color);
}

main .stories .stories_cards .card:hover {
  background-color: var(--box_background_hover);
}

main .stories .stories_cards .card img {
  width: 100%;
  margin-top: 15px;
}

main .changelog {
  padding: 0px 45px;
  margin-top: 9rem;
}

main .changelog h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

main .changelog .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

main .changelog .boxes .box {
  background-color: var(--box_background);
  padding: 15px 20px;
  cursor: pointer;
}

main .changelog .boxes .box:hover {
  background-color: var(--box_background_hover);
}

main .changelog .boxes .box .rating,
main .changelog .boxes .box .date {
  color: var(--hover_text_color);
}

main .changelog .boxes .box .rating {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 0px 8px;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
}

main .changelog .boxes .box .disc {
  margin-top: 14px;
}

main .changelog .link {
  color: var(--red_text_color);
  margin-top: 20px;
  cursor: pointer;
}

main .changelog .link:hover {
  color: var(--red_text_hover_color);
}

main .team_section {
  padding: 0px 45px;
  margin-top: 9rem;
}

main .team_section h1 {
  font-weight: 500;
}

main .team_section button {
  background-color: var(--white);
  color: var(--black);
  padding: 9px 16px;
  outline: none;
  border: 0.1px solid #8080805c;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

main .team_section img {
  width: 100%;
  margin-top: 50px;
  border-radius: 6px;
  cursor: pointer;
}

main .posts {
  background-color: var(--box_background);
  padding: 80px 45px;
  margin-top: 8rem;
  display: flex;
  gap: 10rem;
  position: relative;
}

main .posts .text {
  position: sticky;
  top: 60px;
  align-self: flex-start;
}

main .posts .boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .posts .boxes .box {
  background-color: #201e18;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
}

main .posts .boxes .box:hover {
  background-color: #24221b;
}

main .posts .boxes .box .light_theme {
  color: var(--hover_text_color);
}

main .posts .boxes .box p.light_theme {
  margin-bottom: 25px;
}

main .posts .boxes .link {
  color: var(--red_text_color);
  cursor: pointer;
}

main .posts .boxes .link:hover {
  color: var(--red_text_hover_color);
}

main .final_cta {
  text-align: center;
  margin: 100px 0px;
}

main .final_cta h1 {
  font-size: 60px;
  font-weight: 500;
}

main .final_cta button {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 16px;
  outline: none;
  border: 0.1px solid #8080805c;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

main .final_cta button:hover {
  background-color: var(--hover_btn_color);
}

footer {
  background-color: var(--box_background);
  padding: 50px 45px;
  padding-bottom: 0px;
  margin-top: 8rem;
}

footer .multicolumn_links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 85px;
}

footer .multicolumn_links .links_box ul {
  list-style-type: none;
  cursor: pointer;
}

footer .multicolumn_links .links_box ul li {
  margin-top: 10px;
  font-size: 13px;
}

footer .multicolumn_links .links_box ul li:hover {
  color: var(--hover_btn_color);
}

footer .multicolumn_links .links_box ul li:nth-child(1) {
  color: var(--hover_text_color);
}

footer .bottom_page {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
}

footer .bottom_page .copyright span {
  color: var(--hover_text_color);
  margin-right: 10px;
  font-size: 14px;
}

footer .bottom_page .copyright span:nth-child(2):hover {
  cursor: pointer;
  color: var(--white);
}

footer .bottom_page .right {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  justify-content: center;
  margin-right: 5px;
  position: relative;
}

footer .bottom_page .right .theme_mode {
  background-color: #25231c;
  /* padding: 0px 10px; */
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 28px;
}

footer .bottom_page .right .theme_mode span {
  padding: 0px 6px;
  cursor: pointer;
  color: var(--hover_text_color);
}

footer .bottom_page .right .theme_mode span:hover {
  color: var(--white);
}

footer .bottom_page .right .theme_mode span:nth-child(1) {
  font-size: 17px;
  background-color: #3b382d;
  border-radius: 20px;
  padding: 1px 6px;
  color: var(--white);
}

footer .bottom_page .right .language .select {
  background-color: #25231c;
  outline: none;
  border: none;
  padding: 4px 10px;
  border-radius: 20px;
  color: var(--white);
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

footer .bottom_page .right .language .select:hover {
  background-color: #292720;
}

footer .bottom_page .right .language .options {
  visibility: hidden;
  background-color: #25231c;
  font-size: 13px;
  /* padding-right: 50px; */
  border-radius: 8px;
  position: absolute;
  right: 0px;
  bottom: 36px;
  cursor: pointer;
  width: 140px;
  padding: 8px 0px;
}

footer .bottom_page .right .language .options .option {
  padding: 5px 12px;
}

footer .bottom_page .right .language .options .option:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

footer .bottom_page .right .language .options .option:hover {
  color: var(--hover_text_color);
}

footer .bottom_page .right .language:focus-within .options {
  visibility: visible;
}
